<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potenciometro</title>
    <script type="text/javascript" src="../static/potenciometro.js"></script>
    <style>
        body {
            text-align: center;
            padding: 20px;
        }

        h1 {
            margin-bottom: 10px;
        }

        hr {
            margin: 20px 0;
        }

        #detalle {
            margin-top: 20px;
        }

        a {
            display: block;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h1>Potenciometro</h1>
    <hr size="10" color="black">
    <div id="detalle"></div>
    <a href="/">Regresar</a>
</body>

</html>
